body{
    background-color:#10439F;
}
.t0t {
    font-size: 24px;
    color: #874CCC;
    font-weight: italic;
    font-weight: bold;
}
.t1t{
    font-size: 32px;
    color: #C65BCF;
    font-weight: italic;
    font-weight: bold;
}
.t2t{
    font-size: 48px;
    color: #F27BBD;
    font-weight: italic;
    font-weight: bolder;
}